Package: com.ianwelker.smserver
Depends: openssl, com.muirey03.libmryipc, mobilesubstrate
Name: SMServer
Version: 0.9.1
Architecture: iphoneos-arm
Description: Send texts from your browser! (includes libsmserver tweak)
Maintainer: June Welker <junewelker@gmail.com>
Author: June Welker
Section: Multimedia
